header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 9% 30px 10%;
        font-family: 'Raleway', sans-serif;
        background-image: linear-gradient(#ffbe26, #fbe0a0);
}

header * {
        position: relative;
        font-family: inherit;
        font-weight: 400;
        font-size: 24px;
        color: white;
        text-decoration: none;
}

ul {
        list-style: none;
}

#section-header {
        width: 100%;
        position: relative;
        top: -500px;
}

header h1 {
        top: -500px;
        animation-delay: 0.35s;
}

.nav-containers {
        flex: 1;
        display: flex;
        justify-content: center;
}

.center {
        flex: 10;
}

.nav-center-links li {
        top: -500px;
        display: inline-block;
        padding: 0px 15px;
        animation-delay: 0.15s;
}

.nav-center-links li:nth-child(2) a {
        font-size: 35px;
        font-weight: 1000;
}

.nav-center-links li:nth-child(2) {
        animation-delay: 0s;
}

.nav-center-links li a {
        display: inline-block;
        transition: all 0.6s ease 0s;
}

.nav-center-links li a:hover::after {
        transform: scaleX(1);
        transform-origin: center;
}

.nav-center-links li a::after {
        content: '';
        position: absolute;
        width: 90%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: 50%;
        transition: transform 0.25s ease-out;
}

.nav-right-links li {
        display: inline-block;
        position: relative;
        animation-delay: 0.35s;
        top: -500px;
}

.nav-right-links li:nth-child(2) {
        animation-delay: 0.3s;
}

.nav-right-links li a {
        height: 1.7rem;
        display: flex;
        align-items: center;
        line-height: 1;
        padding-left: 10px;
}

.nav-right-links a svg {
        display: block;
        position: relative;
        width: 1.6rem;
        height: 1.6rem;
        fill: white;
        top: 6px;
}

.header-fall {
        animation: drop 2s ease-out forwards;
}

@keyframes drop {
        100% {
                transform: translateY(500px)
        }
}