@import "navbar.css";
@import "switch.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  z-index: 1;
  box-sizing: border-box;
}

html,
body,
.fullscreen-black {
  width: 100%;
  height: 100%;
  background-color: var(--day-midtone);
  overflow: hidden;
}

/* ::-webkit-scrollbar {
  width: 0;
  background: transparent;
} */

.no-scroll {
  overflow: hidden;
}

:root {
  scroll-behavior: smooth;

  --day-highlight: #ffffff;
  --day-midtone: #fbe0a0;
  --day-shadow: #ffbe26;
}

.fullscreen-black {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  flex-direction: column;
}

.section-main-content {
  flex-basis: 100%;
  display: inline-block;
}

#div-wrapper {
  justify-content: flex-start;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-stop: always;
}

#div-screen-console {
  position: absolute;
  justify-content: center;
  z-index: 100;
}


#screen-console-text {
  margin-left: 3%;
  color: var(--day-highlight);
  font-family: monospace;
  font-size: 150%;
}

#blinker {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#model-viewer {
  position: fixed;
  width: 100vw;
  height: 100vw;
  z-index: 0;
}

#dn-switch {
  position: fixed;
  top: 95%;
  right: 1.5%;
  opacity: 0;
}

#div-content-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.content-div {
  overflow-y: auto;
  scroll-snap-align: center;
  color: var(--day-highlight);
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  opacity: 0%;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

#content-welcome {
  padding: 35vh 73vw 45vh 4vw;
  animation-delay: 2.5s;
}

#content-about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4vw;
  padding-right: 50vw;
  z-index: 5;
}

.sliding-text {
  width: 200px;
  height: 2.8%;
  overflow: hidden;
  font-size: 1.2rem;
}

.sliding-text ul {
  white-space: nowrap;
  transform: translateX(200%);
}

.sliding-text li {
  display: inline-block;
}

.animFadeIn {
  animation: fadein 5s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#loadOverlay {
  display: none;
}