html,
body,
#screen-console {
  background-color: black;
  margin: 0;
  padding: 0;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  background-color: black;
}

#screen-console {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 97%;
  height: 100%;
  margin-left: 3%;
  z-index: 100;
  color: white;
  font-family: monospace;
  font-size: 150%;
}

#blinker {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}